@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std Book'), local('Circular-Std-Book'),
        url('src/CircularStd-Book/CircularStd-Book.woff2') format('woff2'),
        url('src/CircularStd-Book/CircularStd-Book.woff') format('woff'),
        url('src/CircularStd-Book/CircularStd-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }